__pycache__/*
med_to_csv/__pycache__/*
.github/backup_workflows/*
docs/_build/*
build/*
dist/*
Datas/*
Test/*
Exports/*
.vscode/*
Local_*
*.csv
*.html
*.pdf
*.docx
*.csv
*.docx
*.ods
*.zip
*.code-workspace
*.egg-info
Debug*