name: Test Build GUI bin with Pyinstaller

on:
  workflow_dispatch:
    inputs:
      tags:
        required: False
        description: 'test build tags'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Install dependencies
      run: |
          sudo apt update
          sudo apt upgrade -y
          sudo apt install -y libwxbase3.0-0v5 libwxgtk-media3.0-gtk3-0v5 libwxgtk-webview3.0-gtk3-0v5 \
          libwxgtk3.0-gtk3-0v5 python3-wxgtk-media4.0 python3-wxgtk-webview4.0 python3-wxgtk4.0 \
          libgtk-3-dev python3-pip python-is-python3

    - name: Install Gooey
      run: |
          pip install gooey
          pip install Pyinstaller
    
    - name: Install user dependencies
      run: |
          if [ -f requirements.txt ]; then
              pip install -r requirements.txt
          fi # [ -f requirements.txt ]

    - name: Make package
      run: |
          pyinstaller --clean -y --dist ./dist/linux build_gui.spec

    - uses: actions/upload-artifact@v2
      with:
        name: ecm_linux
        path: ./dist/linux
